body{
    background-image:url("assets/images/wallpaper.jpg");
}

#game-canvas{
    border: 3px solid black;
    opacity: 1;
    margin-top: 100px;
    margin-left: 70px;
}

#game_title
{
    position: absolute;
    margin-left: 680px;
    z-index: 1;
    color: darkgreen;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}